.container {
  @apply mt-5 w-full shadow rounded-[3px] z-50
  text-darkTheme-normal-dark-grayishBlue
  bg-lightTheme-very-light-gray;

  .noTodo {
    @apply flex text-center justify-center 
    w-full px-6 py-4 
    border-b border-lightTheme-normal-light-grayishBlue;
  }

  .footer {
    @apply flex justify-between px-6 py-5 text-sm;

    .filter {
      @apply flex gap-4;

      li {
        @apply cursor-pointer
        hover:text-darkTheme-normal-dark-grayishBlue hover:font-bold;

        &.active {
          @apply text-primary-brightBlue font-bold;
        }
      }
    }
  }

  .clearTodo {
    @apply cursor-pointer
    hover:font-bold;
  }
}

:global(.dark) {
  .container {
    @apply mt-5 w-full shadow rounded-[3px] z-50
        text-darkTheme-normal-dark-grayishBlue
        bg-darkTheme-very-dark-desaturatedBlue;

    .noTodo {
      @apply border-border-dark;
    }

    .footer {
      .filter {
        li {
          @apply hover:text-lightTheme-very-light-gray hover:font-normal;
        }
      }
    }

    .clearTodo {
      @apply cursor-pointer
        hover:text-lightTheme-very-light-gray;
    }
  }
}
